body {
    background-color: rgb(42, 165, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h4 {
    font-size: 24px;
    color: yellow;
   
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        font-size: 24px;
        transform: rotate(0deg);
    }

    

    100% {
        font-size: 160px;
        transform: rotate(360deg);
        color: red;
    }
}